
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   
}


.container > div > div{
     border: 1px solid black;
     padding: 50px;
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: rgb(161, 184, 131);
    
     
}


.candidato{
    color: rgb(183, 1, 1);
}

p{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;

}

.votos{
    margin-top: 15px;
    text-align: left;
    font-size: 20px;
}

.fundoVencedor{
    background-color: rgb(255, 0, 225) !important;
}

.fundoDiferente{
    background-color: rgb(238, 255, 0)!important;
}

.tirarFundo{
   background-color: rgb(161, 184, 131);
}



span{
    color: red;
    font-size: 28px;
}